<wizard-page
    title="YOUR LOCATION"
    description="Let's verify we work on your area"
    [back]="backAction"
    [next]="nextAction"
    [error]="error"
>
    <div *ngIf="errorState==='invalid_code'">
        <div class="field uss-input uss-component">
            <label i18n>Postal code *</label>
            <div class="ui input fluid">
                <div class="error-code">{{wizard.data.postalCode}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="errorState==='outbound_code'">
        <div class="field uss-input uss-component">
            <label i18n>Your closest franchise partner will be in touch within the next 24-48 hours.</label>
        </div>
    </div>
    <uss-input [label]="'Postal code *' | translate" [hidden]="errorState"
               placeholder="Your Postal Code"
               fieldName="postalCode"
               required>
    </uss-input>
</wizard-page>
