<wizard-page title="WIZARD-SURFACES.TITLE|Surfaces"
             description="WIZARD-SURFACES.DESCRIPTION|Select the surface"
             [next]="nextAction"
             [oops]="forgotted ? 'WIZARD-SURFACES.FORGOTTED|You forgot to select description for your exterior surface!' : ''"
>
    <ul>
        <li *ngFor="let surface of surfaces">
            <button (click)="select(surface)">+</button>

            <span *ngIf="surface.isSelected"> >>> </span>

            {{('WIZARD-SURFACES.SURFACE.' + surface.name) | translate}}
            <a class="options" *ngIf="surface.name !== 'isOther' && surface.options && surface.options.length > 0" (click)="showOptions(surface)" i18n="OPTIONS">Options</a>
        </li>
    </ul>
    
    <div id="surfacesModal" class="ui modal">
        <div class="image content">
            
            <div class="description">
                <div i18n="WIZARD-SURFACES.MODAL.1">Unfortunatelly, we dont paint wood or previously painted surfaces.</div>
                <div i18n="WIZARD-SURFACES.MODAL.2">Is there another exterior surface you'd like to paint?</div>
            </div>
        </div>
        <div class="actions">
            <uss-button type="yes" (click)="closePopup()"></uss-button>
            <uss-button type="no" (click)="next()"></uss-button>
        </div>
    </div>

</wizard-page>