.redAlert {
    background-color: red;
    color: white;
}

.wizard-surfaces{
    ul{
        padding-left: 0;
        li{
            display: block;
            list-style: none;
            height: 52px;
            background-color: #fff;
            font-family: 'Lato', sans-serif;
            font-size: 20px;
            line-height: 50px;
            color: #4A4457;
            margin-bottom: 1px;

            .options{
                font-size: 13px;
                line-height: 16px;
                color: #2A2630;
                float: right;
                margin-top: 20px;
                margin-right: 22px;
            }

            input[type="checkbox"]{
                display: none;
            }
            
            input[type="checkbox"] + label span {
                display:inline-block;
                 width: 24px;
                height: 24px;
                background: url(../../../assets/images/unchecked.png) no-repeat;
                cursor:pointer;
            }

            input[type="checkbox"]:checked + label span {
                background: url(../../../assets/images/checked.png) no-repeat;
            }
            .check-trigger{
               
            }
        }
        li:first-child{
            border-radius: 12px 12px 0 0;
        }
        li:last-child{
            border-radius:0 0 12px 12px;
        }

    }
}