<wizard-page title="SURFACES"
             description="Select the surface"
             [next]="nextAction">

    <div *ngIf="forgotted">
        OOPS!
        You forgot to select description for your exterior surface!
        <button (click)="closeAlert()">X</button>
    </div>
    <ul>
        <li *ngFor="let surface of surfaces">
            <button (click)="select(surface)">+</button>
            <span *ngIf="surface.isSelected"> >>> </span>
            {{surface.name | translate}}
            <a class="options" *ngIf="surface.name !== 'isOther' && surface.options && surface.options.length > 0" (click)="showOptions(surface)">Options</a>
        </li>
    </ul>
    
    <div class="ui modal">
        <div class="image content">
            
            <div class="description">
                <div>
                    Unfortunatelly, we dont paint wood or previously painted surfaces. 
                </div>
                <div>
                    Is there another exterior surface you'd like to paint?.
                </div>
            </div>
        </div>
        <div class="actions">
            <button class="ui deny button" (click)="closePopup()">Yes</button>
            <button class="ui deny button" (click)="next()">No</button>
        </div>
    </div>

</wizard-page>