$orange: #ff6400;
$blue: #003966;
$red: #ff0033;
$greyMain: #7d7887;
$white: #ffffff;
$greyLite: #eeebf5;
$greyText: #4A4457;

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');