@import '../../components/common/_variables.scss';

.home {
    background-color: $orange!important;
    background-image: url(../../../assets/images/PaintGuy.png);
    background-repeat: no-repeat;
    position: relative;
    height: 100%;

    @media only screen and (min-width: 361px) {
        background-position: center 5em;
    }
    @media only screen and (max-width: 360px) {
        background-position: center 2em;
    }

    .content, form{
        margin-top: 0!important;
        height: 100%;
        padding: 0!important;
    }
    h2{
        font-size: 40px;
        font-weight: 900;
        text-align: center;
        color: #fff;
        line-height: 48px;
        margin: 0;
    }

    h1{
        font-size: 50px;
        font-weight: 900;
        text-align: center;
        color: #fff;
        line-height: 66px;
        white-space: nowrap;
        margin: 0;
        letter-spacing: -1px;

        @media only screen and (min-width: 361px) {
            font-size: 50px;
        }
        @media only screen and (max-width: 360px) {
            font-size: 40px;
        }
    }

    .title-app{
        padding-top: 4.4em;
    }

    button.btn-round{
        height: 42px;
        line-height: 38px;
        border-radius: 21px;
        border: 2px solid $greyLite;
        color: $greyLite;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        background-color: inherit!important;
        padding: 0 20px;

        &.btn-call{
            @media only screen and (min-width: 361px) {
                width: 145px;
                font-size: 20px;
            }
            @media only screen and (max-width: 360px) {
                width: auto;
                font-size: 16px;
            }
            
             padding-left: 26px;
             margin-left: 0!important;
             background-color: $greyLite!important;
             color: $orange;

             .uss-button-content{
                 padding-left: 26px;
                 background-image: url(../../../assets/images/phone-orange.png);
                 background-position: center left;
                 background-repeat: no-repeat;
             }

             &:hover,
             &:active,
             &:focus{
                  background-color: inherit!important;
                  color: $greyLite!important;
                 
                 .uss-button-content{
                      padding-left: 26px;
                      background-repeat: no-repeat;
                      background-image: url(../../../assets/images/phone-white.png);
                 }
             }
        }

        &.btn-next{
            @media only screen and (min-width: 361px) {
                font-size: 20px;
            }
            @media only screen and (max-width: 360px) {
                font-size: 16px;
            }

             .uss-button-content{
                 color: $greyLite;
                 padding-right: 29px;
                 background-image: url(../../../assets/images/arrow-next-white.png);
                 background-position: center right;
                 background-repeat: no-repeat;
             }

             &:hover,
             &:active,
             &:focus{
                 .uss-button-content{
                     color: $orange;
                     padding-right: 29px;
                     background-image: url(../../../assets/images/arrow-next-orange.png);
                     background-position: center right;
                     background-repeat: no-repeat;
                 }
             }
        }
             

        &:hover,
        &:active,
        &:focus{
            background-color: $greyLite!important;
            color: $orange!important;
        }


    }

    .title-screen{
        width: 100%;
        position: absolute;
       
        text-align: center;

        @media only screen and (min-width: 361px) {
             bottom: 5em;
        }
        @media only screen and (max-width: 360px) {
             bottom: 4em;
        }
    }
}
