.wizard-page {
    height: 100%;
    padding: 0;
    position: relative;
    font-size: 16px;

    .ui.form {
        font-size: 100%;
    }

    .header {
        background-color: #D1CED6;
        color: #003966;
        margin-bottom: 2em;

        h1, h2, h3 {
            margin: 0;
        }

        h2 {
            padding: 16px 16px 0;
        }

        h3 {
            padding: 8px 16px 16px;
        }

        &.error {
            background-color: red;
            color: white;

            h1 {
                float: left;
                padding: .5em;
                font-size: 280%;
            }
        }
    }

    .content {
        padding: 0 16px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;

        .progress {
            margin: 2em .5em 1em;
            position: relative;

            &.ui {
                .bar {
                    min-width: 0;
                    background-color: #FF6400;
                }

                .label {
                    text-align: right;
                    top: -350%;
                }
            }
        }

        .buttons {
            background-color: #FF6400;
            font-size: 130%;
            height: 50px;

            &.error {
                background-color: red;
            }

            .back, .next {
                min-width: 33%;
                color: white !important;
                box-shadow: none;
                height: 50px;
            }

            .back {
                float: left;
                font-size: 90%;
            }

            .next {
                float: right;
                font-size: 100%;
            }

            button:hover, button:focus, button:active {
                background-color: transparent!important;
            }
        }
    }
}
