<div class="wizard-page {{class}} {{id}}">
    <div class="header" *ngIf="title && description && !error">
        <h2>{{title|translate}}</h2>
        <h3>{{description|translate}}</h3>
    </div>
    <div class="header error" *ngIf="error">
        <h1>:(</h1>
        <h2>{{'SORRY'|translate}}</h2>
        <h3>{{error|translate}}</h3>
    </div>

    <div class="content">     
        <form #ussForm="ngForm" [ussDataSource]="wizard.data" class="ui form" novalidate onsubmit="return false">
            <ng-content></ng-content>
        </form>
    </div>

<!--
    <pre style="background-color: lightgoldenrodyellow; border: 1px solid black">{{wizard.data | json}}</pre>
    <pre style="background-color: lightgoldenrodyellow; border: 1px solid black">{{wizard.state | json}}</pre>
    <pre style="background-color: lightgoldenrodyellow; border: 1px solid black">form.valid = {{ussForm.valid}}</pre>
-->
                      

    <div class="footer" *ngIf="(!back.isHidden || !next.isHidden) && wizard.state.currentStep > 0">
        <div class="ui tiny active progress">
            <div class="label">{{wizard.state.currentStep}} {{'of' | translate}} {{wizard.state.totalSteps}}</div>
            <div class="bar" [ngStyle]="{'width': wizard.state.currentStep*100/wizard.state.totalSteps + '%'}"></div>
        </div> 
        <div class="buttons" [ngClass]="{error: error}" *ngIf="wizard.state.currentStep > 0">
            <uss-button #backBtn class="back" type="empty" [hidden]="back.isHidden" [disabled]="loading" (click)="backBtn.execute(execute, this, back)">{{back.caption|translate}}</uss-button>
            <uss-button #nextBtn class="next" type="empty" [hidden]="next.isHidden" [disabled]="ussForm.invalid || loading" (click)="nextBtn.execute(execute, this, next)">{{next.caption|translate}}</uss-button>
        </div>
    </div>

</div>
