<nav>
    <sm-menu title="Angular 2 Seed" class="large">
        <span *ngFor="let item of menuItems">
            <a sm-item *ngIf="item.isVisible" [ngClass]="{active: item.isActive}"
               [routerLink]="item.hrefs">{{item?.title}}</a>
        </span>
        
        <sm-menu class="menu right secondary lang">
            <a class="lang-switch" [ngClass]="{active: translate.currentLang==='en'}" (click)="translate.use('en')">En</a>
            <a class="lang-switch" [ngClass]="{active: translate.currentLang==='ru'}" (click)="translate.use('ru')">Рус</a>
        </sm-menu> 

        <sm-menu class="menu right secondary user">
            <div class="ui simple dropdown item">
                <div>
                    <i class="user icon"></i>
                    {{loggedUser?.UserName || 'Account'}}
                    <small *ngIf="isLoggedIn">
                        ({{getReadableRole()}})
                    </small>

                    <i class="dropdown icon"></i>
                </div>
                <div class="menu">
                    <div class="item" (click)="editAccount()">Edit account</div>
                    <div class="item" (click)="changeStatus()">{{isLoggedIn ? 'Log out' : 'Login'}}</div>
                </div>
            </div>
        </sm-menu>
    </sm-menu>
</nav>
