@import '../common/_variables';
@import '../common/_mixins';

.uss-sidebar {
    &.toggled {
        width: $sidebar-width;
    }

    z-index: 1000;
    position: fixed;
    top: $navbar-min-height;
    left: $sidebar-width;
    width: 0;
    height: 100vh;
    margin-left: -$sidebar-width;
    overflow-y: auto;
    background: #000;
    @include transition(width 0.5s ease);
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: $sidebar-width;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        text-indent: 20px;
        line-height: 40px;

        a {
            display: block;
            text-decoration: none;
            color: #999999;

            &:active,
            &:focus {
                text-decoration: none;
            }
        }

        a:hover {
            color: #fff;
        }

        a.active {
            color: #fff;
            background: rgba(255,255,255,0.2);
        }
    }

    & > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;

        a {
            color: #999999;

            &:hover {
                color: #fff;
                background: none;
            }
        }
    }

    .collapse-menu-control {
        padding: 5px;
        text-indent: 0;
        transition: all 0.3s ease;
    }

    .menu-up {
        @include transform(rotate(-180deg));
    }
}
