<aside class="uss-sidebar" [ngClass]="{toggled: sidebarVisibility}">
    <ul class="sidebar-nav">
        <!--<li class="sidebar-brand">
            <a href="#">
                Logo
            </a>
        </li>-->
        
        <li *ngFor="let item of menuItems">
            <div *ngIf="item.parent" [hidden]="isParentHidden(item?.parent)">
                <a class="pointer" (click)="item.parent.showSubMenu = !item.parent.showSubMenu">
                    {{item.parent.title}}
                    
                    <i class="fa fa-angle-down fa-lg collapse-menu-control"
                       [ngClass]="{'menu-up': item.parent.showSubMenu}"></i>
                </a>

                <ul *ngIf="item.parent.subMenu && item.parent.showSubMenu">
                    <li *ngFor="let subItem of item.parent.subMenu" [hidden]="!subItem.isVisible">
                        <a [routerLink]="subItem.hrefs" routerLinkActive="active">
                            {{subItem.title}}
                        </a>
                    </li>
                </ul>
            </div>
            
            <div *ngIf="!item.parent">
                <a *ngIf="item.isVisible" [routerLink]="item.hrefs" routerLinkActive="active">
                    {{item.title}}
                </a>
            </div>
        </li>
    </ul>
</aside>
