<div>
    <table class="ji-dashboard">
        <thead>
        <tr>
            <td colspan="7">
                <button (click)="previousWeek()"><</button>
                <button (click)="nextWeek()">></button>

                <sui-select [(ngModel)]="selectedMonth" (ngModelChange)="onSelectedMonthChanged($event)" #select>
                    <sui-select-option *ngFor="let option of monthList" [value]="option"></sui-select-option>
                </sui-select>
                

            </td>
        </tr>
        <tr>
            <td class="text-center td-width" *ngFor="let day of availableTimeSlotsByDay" ng-class="{'ji-is-today': isToday(day.dayOfTheWeek)}">
                <span class="ji-day-th">{{ day.dayOfTheWeek | date: 'EEE' }}</span>
                <span class="ji-date-th">{{ day.dayOfTheWeek | date: 'd' }}</span>
            </td>
        </tr>

        </thead>

        <tbody>
        <tr *ngFor="let time of allTimeSlots; let idx = index">
            <td time-slot read-only="false" is-selected="false" *ngFor="let day of availableTimeSlotsByDay">
                <div *ngIf="isTimeAvailable(day, time.date)">
                    <a class="ui label" [ngClass]="{ 'highlighted': isSelected(day, time.date) }" (click)="bookTime(day, time.date)">{{time.formatted}}</a>
                </div>
            </td>
        </tr>
    </table>
    
</div>