<wizard-page 
    title="WIZARD-VALIDATE.TITLE|Validate"
    description="WIZARD-VALIDATE.DESCRIPTION|Tap finish to validate your selection"
    [next]="nextAction">               
    
    <div i18n="WIZARD-VALIDATE.ONLINE_BOOKING">Online Booking</div>
    
    <div>
        <span>{{ wizard.data.bookTime | date: 'dd' }}</span>
        <span>{{ wizard.data.bookTime | date: 'MMM' }}</span>
        <span>{{ wizard.data.bookTime | date: 'EEEE' }}</span>
        <span>{{ wizard.data.bookTime | date: 'HH:mm' }}</span>
        
        <uss-button i18n="EDIT" (click)="editBookingTime()">Edit</uss-button>
        
        <div *ngFor="let surf of selectedSurfaces">
            <span>{{('WIZARD-SURFACES.SURFACE.' + surf.name) | translate}}</span>
        </div>
        
        <uss-button i18n="EDIT" (click)="editSurfaces()">Edit</uss-button>

    </div>

</wizard-page>
