<div *ngIf="surface.name !== 'isOther'">
    <div *ngFor="let option of surface.options">
        <uss-checkbox type="toggle" [label]="'WIZARD-SURFACE-OPTIONS.OPTION.' + option.name | translate" [ussDataSource]="option" [fieldName]="'isSelected'" (modelChange)="modelChanged(option)">
        </uss-checkbox>
        <br/>
    </div>
</div>

<div *ngIf="surface.name === 'isOther'">
    <div i18n="WIZARD-SURFACE-OPTIONS.DESCRIPTION">Description</div>

    <div>
        <uss-textarea [placeholder]="'WIZARD-SURFACE-OPTIONS.PLACEHOLDER|Add more details about your exterior'|translate" [ussDataSource]="surface" [fieldName]="'options'"></uss-textarea>
    </div>

</div>

<uss-button type="cancel" (click)="cancel()"></uss-button>
<uss-button type="ok" i18n="DONE" (click)="done()">Done</uss-button>
