<div *ngIf="surface.name !== 'isOther'">
    <div *ngFor="let option of surface.options">
        <uss-checkbox type="toggle" [label]="option.name | translate" [ussDataSource]="option" [fieldName]="'isSelected'" (modelChange)="modelChanged(option)">
        </uss-checkbox>
        <br/>
    </div>
</div>

<div *ngIf="surface.name === 'isOther'">
    <div>
        Description
    </div>

    <div>
        <uss-textarea [placeholder]="'Add more details about your exterior'" [ussDataSource]="surface" [fieldName]="'options'"></uss-textarea>
    </div>

</div>

<button (click)="cancel()">Cancel</button>
<button (click)="done()">Done</button>
