<wizard-page 
    title="WIZARD-RECOMENDATION.TITLE|Just In Case..."
    description="WIZARD-RECOMENDATION.DESCRIPTION|We'll email you if we can't reach you by phone."
>    
    
        <div *ngFor="let source of options.values">
            <div (click)="select(source)" [ngClass]="{ 'highlighted': selectedSource && (source.id === selectedSource.id) }">
                {{source.value}}    
            </div>
        </div>
    <br/>
    <uss-button #ok type="ok" (click)="ok.execute(save, this)"></uss-button>

</wizard-page>
