<wizard-page 
    title="WIZARD-EMAIL.TITLE|Just in case..."
    description="WIZARD-EMAIL.DESCRIPTION|We'll email you if we can't reach you by phone."
>    
<!--
    <uss-input i18n="WIZARD-EMAIL.EMAIL_LABEL" label="Email *"
               [placeholder]="'WIZARD-EMAIL.EMAIL_PLACEHOLDER|Your Email'|translate"
               class="uss row"
               fieldName="email"
               required>
    </uss-input>
-->

    <uss-checkbox
        i18n="WIZARD-EMAIL.WANT_SPAM" label="YES! Keep me updated on Spray-Net\'s latest contests, blogs, events & other fun stuff!"
        class="uss row"
        type="toggle"

        fieldName="wantSpam">
    </uss-checkbox>                                                                                                                 
    


</wizard-page>
