<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
        <caching>
            <profiles>
                <add extension=".json" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:30:00" varyByQueryString="*" />
                <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:30:00" varyByQueryString="*" />
                <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:30:00" varyByQueryString="*" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:30:00" varyByQueryString="*" />
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:30:00" varyByQueryString="*" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
