<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
        <caching>
            <profiles>
                <add extension="*" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" varyByQueryString="*" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
