// Таблицы данных
.ui-datatable {

    table {
        table-layout: auto;
        border: 1px solid #ddd;
        border-top: 2px solid $main-color;

        *:focus{
            outline: none;
        }

        th{
            font-weight: normal;
            text-transform: uppercase;
            padding: 8px 10px;

            .ui-inputtext.ui-state-focus, 
            .ui-widget-content .ui-inputtext.ui-state-focus, 
            .ui-widget-header .ui-inputtext.ui-state-focus {
	           box-shadow: none;
               border: 1px solid $main-color;
            }
        }

        th.ui-state-default {
            
        }

        th.ui-state-active {
            background: #40aec5;
        }

         th.ui-state-hover {
                background: #e1e3e6;
                border-color: #e1e3e6;
         }
        /*.ui-widget-content .ui-state-hover, 
        .ui-widget-header .ui-state-hover {
            border: 1px solid #d5d5d5;
            background: #def7fb;
            font-weight: normal;
            color: #212121;
        }*/

       
        thead th,  tbody td,  tfoot td,  tfoot th {
            height: 48px;
            border-width: 0;

        }

        .ui-widget-content{
            border: 0;        
        }

        .ui-widget-content .ui-state-hover, 
        .ui-widget-header .ui-state-hover, 
        .ui-widget-content .ui-state-focus, 
        .ui-widget-header .ui-state-focus { 
            background: #def5f9; 
            font-weight: normal; 
            color: #212121; 
        }

        .ui-state-highlight, 
        .ui-widget-content .ui-state-highlight, 
        .ui-widget-header .ui-state-highlight {
            border: 1px solid $main-color;
            background: $main-color;
            color: #FFFFFF;
        }
        

        

        thead{
            border-bottom: 1px solid #ddd; 

            .ui-sortable-column-icon.fa-sort{
                color: #dcdcdc;
            }

            .ui-sortable-column-icon.fa-sort.fa-sort-desc,
            .ui-sortable-column-icon.fa-sort.fa-sort-asc{
                color: $main-color;
            }

            .ui-sortable-column.ui-state-active{
                background: #ebedf0;
                color: #555;
            }
        }

        tbody{
            tr.ui-widget-content{
                border: 0;
            }
        }
   
        .dt-action-buttons {
            white-space: nowrap;
            width: 52px;

            &th {
                text-align: center;
            }

            &td {
                margin: 0 !important;
                padding: 0 12px !important;
            }

            button {
                min-width: 0;
                width: 26px;
                height: 100%;
                margin: 0 !important;
                padding: 0;
                background-color: transparent;
                line-height: 1.5;
                vertical-align: middle;
                touch-action: manipulation;
                border: 1px solid transparent;
            }
        }

        .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
         
        }
        .ui-state-highlight .dt-action-buttons {
            .fa-trash-o {
                color: white;
            }
            .fa-edit {
                color: white;
            }
        }
    }

    .ui-paginator .ui-paginator-page, 
    .ui-paginator .ui-paginator-pages, 
    .ui-paginator .ui-paginator-next, 
    .ui-paginator .ui-paginator-last, 
    .ui-paginator .ui-paginator-first, 
    .ui-paginator .ui-paginator-prev, 
    .ui-paginator .ui-paginator-current {
        padding: 4px 8px;
        border-radius: 0;
    }


    .ui-paginator .ui-paginator-page.ui-state-active {
        background: $main-color;
        color: #ffffff;
        border-color: $main-color;
    }

    .ui-paginator-rpp-options.ui-widget.ui-state-default{
        height: 29px;
    }

    .ui-paginator-bottom{
        background: #fff;
    }

     .ui-datatable-odd{
        background: $table-tr-odd;
    }

    .ui-datatable-even{
        background: $table-tr-even;
    }

}

    
