@import './_colors.scss';
@import './_semantic.scss';
@import './_toggle-checkbox.scss';
@import '../../app/components/common/_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background-color: $greyLite;
}

.uss {
    &.row { 
        margin-bottom: 1em !important;
    }
}

a {
    cursor: pointer;
}

h1{
    font-family: 'Roboto', sans-serif;
}

.pointer {
    cursor: pointer!important;
}

.inline {
    display: inline!important;
}

.inline-block {
    display: inline-block!important;
}

.block {
    display: block!important;
}

.margin-bottom-small {
    margin-bottom: 5px !important;
}

.disabled {
    cursor: default !important;
    color: gray!important;
}

.toast-container {
    z-index: 1000000;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    z-index: 10000;
}

.fixed {
    position: fixed;
    z-index: 10000;
}

.scrollHidden{
    overflow: hidden !important;
}

.home{
    /*background: url(../images/PaintGuy.png) no-repeat;*/
    
}

.fix-margin{
    margin: 0!important;
}

.fix-padding{
    padding: 0!important;
}