<wizard-page 
    title="NO PROBLEM!"
    description="Send us your info & we'll be in touch within the next 24-48 hours."
>               
    <uss-input [label]="'First Name *' | translate"
               placeholder="Your First Name"
               fieldName="firstName"
               class="uss row"
               required>
    </uss-input>

    <uss-input [label]="'Last Name *' | translate"
               placeholder="Your Last Name"
               fieldName="lastName"
               required>                 
    </uss-input>
</wizard-page>
